<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>WiSaw</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>3.3.1</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wisaw</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>39</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>87b4cce77e2726175a21523cd45fd311d50ec654</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
	</dict>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Blue tooth may be used.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Calendar may be used.</string>
	<key>NSCameraUsageDescription</key>
	<string>Photo will be uploaded to the shared feed where it will be visible for 24 hours.</string>
	<key>NSContactsUsageDescription</key>
	<string>Contacts may be used.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>When you allow the app to know your location, we will always be able to show what's happening around you.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>When you allow the app to know your location, we will be able to show what's happening around you while your using the app.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Photo will be stored in local gallery.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Photo library will be used to store photos from your camera.</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>branch_app_domain</key>
	<string>link.wisaw.com</string>
	<key>branch_key</key>
	<string>key_live_bfxOER1DaZ6pQzOMj9chBffdwFaB8vg4</string>
</dict>
</plist>
